

:root {
    --darkgrey:#09090a;
    --brightred: #F9423D;
    --white: #fff;
    --lightred: #f9433dcc;
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}


.navbar {
    display: grid;
    position: sticky;
    top: 0;
    z-index: 100;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav-links {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-links:hover {
    color: var(--brightred);
    transition: all 0.2s ease-out;
    padding: 20px;
}

.image-glow {
    position:absolute;
    left:10px;
    top:10px;
    margin: 0px 15px 15px 0px;
}

.about-pic {
    float: left;
         
}






#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.column-2 {
    float: left;
    width: 45%;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    height: 475px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 70px;
    line-height:2;
  }

[id="typed"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 4.5em;


}

[id="typed2"] {
    position: absolute;
    left: 50%;
    top: 143.5%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 3.0em;


}
[id="typed3"] {
    position: absolute;
    left: 50%;
    top: 230%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 3.0em;


}

[id="typed4"] {
    position: absolute;
    left: 50%;
    top: 340%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 3.0em;


}

[id="typed5"] {
    position: absolute;
    left: 50%;
    top: 440%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 3.0em;


}

.glow {
    font-size: 70px;
    color: #ffffff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                   0 0 50px #000000, 0 0 60px #000000, 0 0 70px #000000;
    }
    to {
      text-shadow: 0 0 20px #eeeeee, 0 0 30px #F9423D, 0 0 40px #F9423D, 0 0 50px #F9423D, 
                   0 0 60px #F9423D, 0 0 70px #F9423D, 0 0 80px #F9423D;
    }

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;

}


