

:root {
    --darkgrey:#09090a;
    --brightred: #F9423D;
    --white: #fff;
    --lightred: #f9433dcc;
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.navbar {
    display: grid;
    
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}

.nav-links {
    color: rgb(0, 0, 0);
    text-decoration: none;

}

.nav-links:hover {
    color: var(--brightred);
    transition: all 0.2s ease-out;
}

.image-glow {
    position:absolute;
    left:10px;
    top:10px;
    margin: 0px 15px 15px 0px;
}

#particles-js canvas {
    display: block;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

[id="typed"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 4.5em;


}

.wrapper {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
   .wrapper span {
    display: inline-block;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
   }
   .wrapper span:nth-of-type(2) {
    animation-delay: .05s;
   }
   .wrapper span:nth-of-type(3) {
    animation-delay: .1s;
   }
   .wrapper span:nth-of-type(4) {
    animation-delay: .15s;
   }
   .wrapper span:nth-of-type(5) {
    animation-delay: .2s;
   }
   .wrapper span:nth-of-type(6) {
    animation-delay: .25s;
   }
   .wrapper span:nth-of-type(7) {
    animation-delay: .3s;
   }
   .wrapper span:nth-of-type(8) {
    animation-delay: .35s;
   }
   .wrapper span:nth-of-type(9) {
    animation-delay: .4s;
   }
   .wrapper span:nth-of-type(10) {
    animation-delay: .45s;
   }
   .wrapper span {
    color: #000;
    opacity: 0;
    transform: translate(-155px, 0) scale(.4);
    animation: animate .5s forwards;
   }
   @keyframes animate {
    40% {
     transform: translate(50px, 0) scale(.7);
     opacity: 1;
     color: rgb(17, 17, 17);
    }
    60% {
     color: rgb(0, 0, 0);
    }
    80% {
     transform: translate(0) scale(2);
     opacity: 0;
    }
    100% {
     transform: translate(0) scale(1);
     opacity: 1;
    }
   }

   .parallax{
       background-size: cover;
       background-attachment: fixed;
       height: 500px;
   }